<script type="text/javascript">
    var LoginModel = Backbone.Model.extend({
        url: '{{ url_for('api_login') }}'
    });

    function sendResponse(auth_response) {
        var responseModel = new LoginModel();
        responseModel.save(auth_response, {
            success: function(model, response, options) {
                // Log the event to mixpanel
                if (response['new_user']) {
                    var message = "New user logged in";
                } else {
                    var message = "Returning user logged in";
                }
                mixpanel.track(message, {"provider": "facebook", "user_id": model.get('userID')});

                // Go to the next page
                top.location.href = "{{ login_succeeded_url }}";
            }, error: function(model, xhr, options) {
                // TODO: show an error message
                console.log('Failed sending login response');
                // For consistency, log the user out of the app
                FB.logout();
            }
        });
    }
</script>

