{% extends 'base.html' %}
{#{% from 'social-login.html' import social_login_button %}#}

{% block style %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/roboto-condensed.css" rel="stylesheet" type="text/css">
    <link href="/static/css/monkeybook.css" rel="stylesheet">
    <link href="/static/css/jquery.modal.css" rel="stylesheet">
    <link href="/static/css/yearbook-preview.css" rel="stylesheet">
{% endblock %}

{% block title %}MonkeyBook{% endblock %}

{% block body_tag %}
    <body class="monkeybook-bgcolor-lightyellow landing">
{% endblock %}

{% block body %}
    {% include 'includes/facebook-sdk.html' %}
    <div class="row-fluid header monkeybook-bgcolor-darkbrown clear">
        <div class="span7 offset2 monkeybook-landing-logo"></div>
        <div class="span1 headerVerticalAlignCenter">
            <a href="" class="monkeybook-color-white facebook-login">SIGN IN</a>
        </div>
  	</div>
	
    <div class="row-fluid monkeybook-main-image centered clear">
    	<div class="row-fluid clear top-margin">
			<div class="landing-headline offset2 span8">INSTANT FUN.</div>
    	</div>
	    <div class="row-fluid clear top-margin">
		    <div class="landing-subhead offset2 span8">Make a book about you in 3 clicks</div>    
		</div>    
  
  	    <div class="row-fluid clear landing-buttons">	  	    
			<div class="span3 offset4"><input type="button" class="btn btn-info preview-button"
                                              value="See An Example" /></div>
{#			<div class="span2"><input type="button" class="btn btn-success facebook-login"#}
{#                                      value="Test Beta Now" /></div>#}
{#            <div class="span2">#}
{#                {{ social_login_button('facebook', 'Test Beta Now', 'btn btn-success facebook-login') }}#}
{#            </div>#}
			<div class="span2"><input type="button" class="btn btn-success facebook-login" value="Get Started" /></div>
		</div>
	</div>

    <div class="row-fluid clear">
    <div class="landing-body-text offset2 span7 top-margin">
        MonkeyBook instantly turns your Facebook timeline into a fun, free, beautiful
        ebook that you can share with your friends. You can order a printed book for
        your coffee table or send one as a gift. </div>
    </div>

    <div class="row-fluid header monkeybook-bgcolor-darkbrown clear landing-footer top-margin">
        <div class="span8 offset2">
{#            <a href="{{ url_for('about_us') }}">About Us</a>#}
            <a href="{{ url_for('privacy') }}">Privacy Policy</a>
            <a href="{{ url_for('terms') }}">Terms</a>
{#            <a href="{{ url_for('contact') }}">Contact Us</a>#}
        </div>
  	</div>

    {% include 'includes/yearbook-preview.html' %}
{% endblock %}

{% block script %}
    {% include 'includes/yearbook-preview-js.html' %}
    <script type="text/javascript" src="/static/js/lib/jquery.modal.min.js"></script>
    <script type="text/javascript" src="/static/js/lib/lodash.compat.js"></script>
    <script type="text/javascript" src="/static/js/lib/backbone.js"></script>
    {% include 'includes/login-js.html' %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.facebook-login').click(function(e) {
                doFacebookLogin();

                e.preventDefault();
                return false;
            });

            $('.preview-button').click(function(){
                $('#preview-modal').modal();
                $.modal.resize();

                // Open the book automatically
                setTimeout(function () { $('.sj-book').turn('page', 4); }, 3000);
            });
        });
    </script>
{% endblock %}
